In [1]:
import pandas as pd
import numpy as np

# Display settings
pd.set_option("display.max_columns", None)
pd.set_option("display.float_format", "{:.2f}".format)

In [8]:
import os
import pandas as pd

DATA_PATH = r"D:\PROJECT\Airbnb Listings Analysis\dataset"

listings = pd.read_csv(os.path.join(DATA_PATH, "listings.csv"))
neighbourhoods = pd.read_csv(os.path.join(DATA_PATH, "neighbourhoods.csv"))
reviews = pd.read_csv(os.path.join(DATA_PATH, "reviews.csv"))
print("done")

done

In [9]:
print("Listings shape:", listings.shape)
print("Neighbourhoods shape:", neighbourhoods.shape)
print("Reviews shape:", reviews.shape)

Listings shape: (2876, 18)
Neighbourhoods shape: (8, 2)
Reviews shape: (318549, 2)


Initial Data Inspection

In [10]:

listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.58,-82.60,Entire home/apt,95.00,1,454,2025-06-14,2.69,8,162,16,NaN
1,197263,Tranquil Room & Private Bath,961396,Timothy,NaN,28806,35.58,-82.64,Private room,44.00,2,87,2024-09-08,0.56,2,73,5,NaN
2,209068,Terrace Cottage,1029919,Kevin,NaN,28804,35.62,-82.55,Entire home/apt,90.00,30,67,2025-05-03,0.40,1,268,2,NaN
3,246315,Asheville Dreamer's Cabin,1292070,Annie,NaN,28805,35.60,-82.51,Private room,61.00,7,53,2019-10-30,0.32,3,62,0,NaN
4,314540,Asheville Urban Farmhouse Entire Home 4.6 mi t...,381660,Tom,NaN,28806,35.59,-82.63,Entire home/apt,200.00,1,35,2025-06-13,0.22,1,139,11,NaN